<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>submit demo</title>
  <style>
  p {
    margin: 0;
    color: blue;
  }
  div,p {
    margin-left: 10px;
  }
  span {
    color: red;
  }
  </style>
  <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
</head>
<body>
<h1>Remind'Ya'Self</h1>
<p>Fill in the details below to send yourself a reminder text in the future</p>
<form action="javascript:alert( 'Reminder Sent!' );">
{{!-- <form action="javascript:alert( 'Reminder Sent!' );"> --}}
  <div>
    Phone number: <input type="phone" name="number" id="number"><br>
    <p id="numberError"></p>
    ReminderText: <input type="text" name="text" id="text"><br>
    <p id="textError"></p>
    <input type="submit" value="Submit" id="submit">
  </div>
</form>

<script>
  const validate = () => {
    const errors = {}
    if ($("#number").val().match(/\d/g).length !== 12){
      errors.numberError = 'Invalid Phone Number'
    }
    if ($("#text").val().length === 0) {
      errors.textError = 'Input a message'
    }
    return errors
  }

$( "form" ).submit(function( event ) {
    const errors = validate()
    console.log({errors})
    if (Object.keys(errors).length !== 0) {
      if (errors.numberError){
         $("p").text('error').show().fadeOut(1000);
         $("p").text('error').show().fadeOut(1000);
      }
      if (errors.textError){
         $("#textError").text(errors.textError).show().fadeOut(1000);
      }


      $.post("https://glacial-cliffs-39893.herokuapp.com/reminders",
        {
          "text": "internet test",
          "to": "447716267455",
          "from": "John Peters",
          "when": "2019-11-13T16:10:11.323Z"
        }
      )

       return
    }

    console.log($("#number").val())
    console.log($("#text").val())

  event.preventDefault();
});
</script>

</body>
</html>