<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>submit demo</title>
  <script src="./JS/jquery.js"></script>
  <script src="./JS/logic.js"></script>
</head>

<body>
<h1>Remind'Ya'Self</h1>
<p>Fill in the details below to send yourself a reminder text in the future</p>
    <div>
      Phone number: <input type="phone" name="number" id="number"><br>
      <p id="numberError"></p>
      ReminderText: <input type="text" name="text" id="text"><br>
      <p id="textError"></p>
    </div>
    <button id="send">Send</button>
</body>
</html>
