<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>submit demo</title>
  <script src="./JS/jquery.js"></script>
  <script src="./JS/logic.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>
  <link rel='stylesheet' href='./styles/styles.css' />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css" />
</head>

<body>
  <div class="container-fluid bg-1 text-center cont">
    <div>
      <h1>Remind'Ya'Self</h1>
      <img class="img-circle" src="https://storage.googleapis.com/sales.appinst.io/2016/07/When-Push-Comes-to-Shove-Mobile-Marketing-Through-App-Notifications.png" alt="Bird">
      <div class="header">
        <h3 class="form-group instructions">Fill in the details below to send yourself a reminder text in the future</h3>
      </div>
    </div>
    <div>
      <div class="container-fluid bg-1 text-center form-area">
        <div class="row">
          <div class="form-group col-md-6">
            <h3 id="title">Phone number(+44) :</h3>
            <input class="item"type="phone" name="number" id="number"placeholder="+44 7911 123456">
            <p class="error"id="numberError"></p>
          </div>
          <div class="form-group col-md-6">
            <h3>Reminder:</h3>
            <input class="item" type="phone" name="number" id="text" placeholder="eg. Pickup groceries"/>
            <p class="error" id="textError"></p>
          </div>
          <div class="form-group col-md-6">
          <h3>From:</h3>
          <input class="item " type="phone" name="number" id="from" placeholder="Your name">
          <p class="error" id="fromError"></p>
          </div>
          <div class="form-group col-md-6">
            <h3>When:</h3>
            <div class="input-group date" id="datetimepicker1" data-target-input="nearest">
              <input type="text" class="form-control datetimepicker-input datetimepicker" data-target="#datetimepicker1" name="departure_date" />
              <span class="input-group-addon" data-target="#datetimepicker1" data-toggle="datetimepicker">
                <span class="fa fa-calendar">&#x1F4C5</span>
              </span>
            </div>
            <p class="error" id="whenError"></p>
          </div>
        </div>
      </div>
    </div>

    <button id="send" type="button" class="btn btn-success">Send</button>
  </div>
  <script>  $('#datetimepicker1').datetimepicker(); </script>
</body>
</html>

