.bg-1 {
  background-color: #1abc9c;
}

.form-area {
  width: 60%;
}

img {
  height: 200px;
  width: 400px;
}

.fa-calendar {
  font-size: 20px;
}

.header {
  display: flex;
  width: 100%;
  justify-content: center
}
.instructions {
  width: 50%
}
.item {
  position: relative;
  z-index: 2;
  float: left;
  width: 100%;
  margin-bottom: 0;
}

.cont {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

button {
  width: 25%;

}
